// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  background: url('http://empower.swmorey.com/images/binding_light.png'); 
}
	#header {
			position: fixed;
			top: 0; 
			left: 0;
			z-index: 9999;
			background: #eee;
			width: 100%;
			margin: 0;
			padding: 5px;
			height: 40px;
			background: url('http://empower.swmorey.com/images/binding_dark.png'); 
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
			opacity:0.9;
            filter:alpha(opacity=90);
		}
.searchform {
  width:800px;
  height: 27px;
}

.searchbutton {
  width:100px;
}

.spacer
{
height: 30px;
}


.resultbox
{

background-color: #FFF;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
padding: 10px;
width: 420px;
height: 275px;
float: left;
position: relative;
}

.resulttitle
{
font-size: 20px;
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
vertical-align: top;
margin-top: -17px;

}

.resultauthor
{
font-size: 16px;
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
vertical-align: top;
margin-top: -17px;
font-style:italic;
margin-bottom: 5px;
}

.resultabstract
{
font-size: 14px;
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
vertical-align: top;
margin-top: -20px;
}

.resultcount
{
font-size: 14px;
font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
vertical-align: bottom;
margin-top: 20px;
font-weight:bold;
}

.resultimgbox
{
float: left;
margin-right: 10px;
max-width: 155px;
max-height: 155px;
}

.bottomstuff
{
position:absolute; bottom:0;
}


.hold_button {
   border: solid 9px #009933;
   -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
           border-radius: 8px;
   display: inline-block;
   -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
           transition: all 0.2s linear;
   -webkit-transform: scale(2px2px);
      -moz-transform: scale(2px2px);
           transform: scale(2px2px);
   font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
 background-color: #009933;
 float: left;
 margin-right: 10px;
}
.hold_button:hover {
}
.hold_button:active {
}

.hold_button a {
color: #fff;
}

a:link {text-decoration:none; color: #fff;}
a:visited {text-decoration:none; color: #fff;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}